html, body{
    height: 100%;
    width: 100%;
}
body {
  padding: 50px;
  font: 14px "microsoft yahei", Helvetica, Arial, sans-serif;
}
*{
    -webkit-box-sizing: border-box;
}

a {
  color: #00B7FF;
}

input{
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type="button"]{
    text-align: center;
    cursor: pointer;
    background-color: aquamarine;
}
input#file{
    width: 200px;
    margin-right: 50px;
}
input#detechBtn:hover{
    background-color: rgba(120, 156, 234, 1);
}

.container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.imgBox{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    border: solid 1px rgba(200, 200, 200, .8);
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
}
.imgBox img{
    display: block;
    margin: 0 auto;
    outline: none;
    background-color: rgba(235, 235, 235, .8);
}

