extends layout

block content
  .container
    h1= title
    .imgBox
        img#result-img(src='')

      form(action='/detech', method='post')
          input#file(type='file', name='file')
          input#detechBtn(type='button', name='detechBtn', value='开始识别')
